[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[user]
	email = forgems@gmail.com
	name = Marcin Swiderski
	signingkey = FFA85E6C14A0F7C2
[push]
	default = simple
	autoSetupRemote = true
[commit]
	gpgsign = true
	#template = ~/.gitmessage
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	quotepath = false

[url "git@github.com:arangodb-managed/"]
	insteadOf = https://github.com/arangodb-managed/

[tag]
    forceSignAnnotated = true
